<!DOCTYPE html>
<html ng-app="angMod">

<head>
	<title>Breaking Angular</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>

<body ng-controller='angoller'>

	<!-- Part 1 - Angular -->
	<button ng-click="Part1()">Part 1</button>
	
	<h1>{{buttonMessage}}</h1>
	
	<button ng-click="Part41()">Part 1.4</button>

	<ul class="hidebullet">
		<li>{{listMessage}}</li>
		<li>{{listMessage}}</li>
		<li>{{listMessage}}</li>
	</ul>


	<!-- Part 2 - Angular -->
	<h2>YOLO CRAFT BEER</h2>

	<p>Thundercats wear bird butter to fund readymade taxidermy</p>

	<a href="http://www.w3schools.com/html/html_links.asp"><button>HTML Links</button></a>
	
	<h3>Brooklyn Fanny Pack Meditation Ramps Up Pork Belly Irony</h3>

	<p>Hammock jean shorts street art pabst single-origin coffee. Gastropub meggings mixtape, echo park tousled migas truffaut cold-pressed affogato. Lumbersexual mumblecore 8-bit kombucha asymmetrical.</p>

	<a href="http://www.w3schools.com/html/html_links.asp"><button>HTML Links</button></a>

</body>

</html>